<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title><%= title %></title>
        <!-- Bootstrap -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600' rel='stylesheet' type='text/css'>
        <!-- Owl Carousel Assets -->
        <link href="css/owl.carousel.css" rel="stylesheet">
        <link href="css/owl.theme.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="js/sticky/jPinning.min.css">

        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
        <link rel="stylesheet" href="css/main2.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>
    <body class="loading">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

       	<div id="preload">
            <img src="images/products01.jpg" alt="Products01">
            <img src="images/products02.jpg" alt="Products02">
            <img src="images/products03.jpg" alt="Products03">
            <img src="images/products04.jpg" alt="Products03">
            <img src="images/products05.jpg" alt="Products04">
            <img src="images/products06.jpg" alt="Products05">
            <img src="images/products07.jpg" alt="Products06">
            <img src="images/products08.jpg" alt="Products07">
       	</div>




        <div class="main_wrapper">
            <header class="header cd_header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="cd_logo"><a href="/"><img src="images/logo.png" alt="Commdel "></a> <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button></div>
                        </div>
                        <div class="col-sm-9">
                            <nav class="cd_navbar navbar-collapse">            
                                <ul>
                                  <li class="active"><a href="/industry">Industry &amp; Expertise</a></li>
                                  <li><a href="/products">Products</a></li>
                                  <li><a href="/services">Services</a></li>
                                  <li><a href="/company">Company</a></li>
                                  <li><a href="/contact">Contact</a></li>
                                </ul>
                              </nav>
                            <!--cd_navbar--> 
                        </div>
                    </div>
                </div>
            </header>

            <div class="banner_box">
                <figure><img src="images/products-banner.jpg" alt="Products"></figure>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="breadcrumb_box">
                            <ol class="breadcrumb_list">
                                <li><a href="index.html">Home</a></li>
                                <li>Products</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>  
            <!--banner and breadcrumb-->	



            <div class="cd_maincontainer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">

                            <p>We Develop Large Scale Applications. Commdel is a custom software development company specializes in developing scalable software applications, business softwares and automation softwares. We primarily develop applications which automates everyday workflow of a company or organization and makes life easier.</p>

                        </div>
                    </div> 
                </div>
            </div>
            <!--cd_maincontainer-->

            <main>

                <section id="slide-1" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="">
                                <div class="product_section ">
                                    <div class="product_bg_green product_box_define txt_white">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="col-md-7">
                                                        <div class="row">                        	
                                                            <h3>Prepaid – Card Issuance and Management System</h3>
                                                            <p>Paynorm CMS is a comprehensive card payment solution for banks, financial institutions, processors and retailers who wish to issue cards and accept electronic payments. It supports all aspects of card and merchant management, payment authorization, clearing, and settlement.</p>
                                                            <ul>
                                                                <li><i class="fa fa-check-square-o"></i> End-to-end prepaid functionality</li>
                                                                <li><i class="fa fa-check-square-o"></i> Powerful and intuitive prepaid service offering </li>
                                                                <li><i class="fa fa-check-square-o"></i> Merchant On-boarding & Terminal Management </li>
                                                                <li><i class="fa fa-check-square-o"></i> Clearing, Settlement & Reconciliation </li>
                                                                <li><i class="fa fa-check-square-o"></i> Fees and Charges Management</li>
                                                                <li><i class="fa fa-check-square-o"></i> Sophisticated customer models (families, hybrid customers)</li>
                                                                <li><i class="fa fa-check-square-o"></i> Rich reporting & MIS</li>

                                                            </ul>
                                                            <a href="prepaid.html" class="explore_link">Read More</a>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-5 mar_t70 text-right ipad_left">
                                                        <div class="row">
                                                            <img src="images/prepaid-main.png" alt="">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="slide-2" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="product_section ">
                                <div class="product_bg_red product_box_define txt_white">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-md-7 col-md-push-5">
                                                    <div class="row">
                                                        <h3>Wallet Aggregator</h3>
                                                        <p>Wallet Aggregator Platform is a comprehensive full service solution which enables acceptance of digital wallets at physical retail locations by consolidating and aggregating multiple wallets on a single platform.</p>
                                                        <ul>
                                                            <li><i class="fa fa-check-square-o"></i> Cloud based wallet payment acceptance</li>
                                                            <li><i class="fa fa-check-square-o"></i> Wallet Issuer onboarding</li>
                                                            <li><i class="fa fa-check-square-o"></i> Merchant On-boarding & Terminal Management </li>
                                                            <li><i class="fa fa-check-square-o"></i> Clearing, Settlement & Reconciliation </li>
                                                            <li><i class="fa fa-check-square-o"></i> Fees and Charges Management</li>
                                                            <li><i class="fa fa-check-square-o"></i> Rich reporting & MIS</li>

                                                        </ul>
                                                        <a href="wallet-aggregator.html" class="explore_link">Read More</a>
                                                    </div>
                                                </div>

                                                <div class="col-md-5 col-md-pull-7 mar_t70">
                                                    <div class="row">
                                                        <img src="images/wallet-aggregator.png" alt="">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="slide-3" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="product_section ">
                                <div class="product_bg_orange product_box_define txt_white">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-md-7">
                                                    <div class="row">                        	
                                                        <h3>Loyalty and Campaign Management System</h3>
                                                        <p>Innovative solution focused on providing merchants and Customers with end-to-end programs that:</p>
                                                        <ul>
                                                            <li><i class="fa fa-check-square-o"></i> Build strong, valuable relationships</li>
                                                            <li><i class="fa fa-check-square-o"></i> Retain and increase spending and frequency of existing customers</li>
                                                            <li><i class="fa fa-check-square-o"></i> Create effective and customer-relevant marketing campaigns</li>
                                                            <li><i class="fa fa-check-square-o"></i> Influence desired customer behavior</li>
                                                        </ul>
                                                        <a href="loyalty-reward-management-system.html" class="explore_link">Read More</a>
                                                    </div>
                                                </div>

                                                <div class="col-md-5 mar_t70 text-right ipad_left">
                                                    <div class="row">
                                                        <img src="images/loyalty-and-campaign-main.png" alt="">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

                <section id="slide-4" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="product_section ">
                                <div class="product_bg_blue product_box_define txt_white">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-md-7 col-md-push-5">
                                                    <div class="row">
                                                        <h3>Offer & Coupon Management System</h3>
                                                        <p>Paynorm Offer and Couponing system is an integrated system with inbuilt capability of defining offers and loyalty on the fly.</p>
                                                        <ul>
                                                            <li><i class="fa fa-check-square-o"></i> Integrated with Offers Engine for real time cash back at POS</li>
                                                            <li><i class="fa fa-check-square-o"></i> Real time campaigns & advertising</li>
                                                        </ul>
                                                        <a href="offer-and-coupon-management.html" class="explore_link">Read More</a>
                                                    </div>
                                                </div>

                                                <div class="col-md-5 col-md-pull-7 mar_t70">
                                                    <div class="row">
                                                        <img src="images/offer-and-coupon-main.png" alt="">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

                <section id="slide-5" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="product_section ">
                                <div class="product_bg_grey product_box_define txt_white">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-md-7">
                                                    <div class="row">                        	
                                                        <h3>MobileForce – Field force Management</h3>
                                                        <p>Proven solution for various industry verticals facilitating process automation in Quick Time with less overhead costs.</p>
                                                        <p >Mobile devices have come a long way from simply enabling business emails and data, to incorporating services that change the way business is done. </p>
                                                        <ul>
                                                            <li><i class="fa fa-check-square-o"></i> Differenciate your Organization</li>
                                                            <li><i class="fa fa-check-square-o"></i> Enhance Profitability</li>
                                                            <li><i class="fa fa-check-square-o"></i> Improve Productivity</li>                                <li><i class="fa fa-check-square-o"></i> Retain Customers</li>
                                                            <li><i class="fa fa-check-square-o"></i> Expand Operational Footprint</li>
                                                            <li><i class="fa fa-check-square-o"></i> Cloud Based Solution</li>
                                                        </ul>
                                                        <a href="field-force-automation.html" class="explore_link">Read More</a>
                                                    </div>
                                                </div>

                                                <div class="col-md-5 mar_t70 text-right ipad_left">
                                                    <div class="row">
                                                        <img src="images/enterprise-solution-new.png" alt="">                            
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

                <section id="slide-6" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="product_section ">
                                <div class="product_bg_maroon product_box_define txt_white">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-md-7 col-md-push-5">
                                                    <div class="row">
                                                        <h3>Seller Payment Automation Product</h3>
                                                        <p>E-Commerce Marketplace Platforms allow any seller, across the country, to open their online shop for free and upload as many products as they want. Other than taking the merchant shop live for free, online marketplaces also manage the complete operation of online marketing, order processing, logistics, payment collection and customer care for a simple fee on successful transactions. Reconciliation of prepaid, COD collection against the payment made to seller is a challenge and so is payment being made to Logistic partner and intermediaries.</p>
                                                        <p>Commdel Seller Payment Automation Product caters to the requirement. Seller payment are automated and the reconciliation is available online through web interface and fully integrated with your order processing engine:</p>
                                                        <a href="payment-aggregator.html" class="explore_link">Read More</a>
                                                    </div>
                                                </div>

                                                <div class="col-md-5 col-md-pull-7 mar_t70">
                                                    <div class="row">
                                                        <img src="images/seller-main.png" alt="">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

                <section id="slide-7" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="product_section ">
                                <div class="product_bg_green_light product_box_define txt_white">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-md-7">
                                                    <div class="row">                        	
                                                        <h3>Material Management, Supply and Distribution Management Solution</h3>
                                                        <p>An enterprise resource planning (ERP) solution provide business the control on its supply chain and make it more efficient with respect to people and processes, a better handle on costs. Typically a product has to go through various stages before it reaches to the end-customer from a raw material, production, storages, transportation, warehouse, dealer, retailer and then end-customer. it is always challenging to have the visibility of your supply chains. With intermittent Internet connectivity and security risk to make the ERP solution available to all the vendors and executives in the root level at a regional office becoming more and more challenging, enterprise are looking for 3rd party solutions which can tighly integrate with their ERP solutions.</p>
                                                        <p>Commdel’s smartSCM is an integrated tool to manage your supply and distributor functions of the business for the bulk material industry like Fertilizer, Cement and Sugar industry.</p>
                                                        <a href="supply-chain-management.html" class="explore_link">Read More</a>
                                                    </div>
                                                </div>

                                                <div class="col-md-5 mar_t70 text-right ipad_left">
                                                    <div class="row">
                                                        <img src="images/material-main.png" alt="">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

                <section id="slide-8" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="product_section ">
                                <div class="product_bg_blue_new product_box_define txt_white">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-md-7 col-md-push-5">
                                                    <div class="row">
                                                        <h3>EChallan - Law enforcement Solution</h3>
                                                        <p>With rampant growth in the economy every day more and more vehicles coming on the road on daily bases. With more number of vehicles on the road it is becoming very tedious task for law enforcement agency to check offences.</p>
                                                        <p>eChallan is an electric format of Challan issues to the violators of traffic rules with innovative use of this centralized information.</p>                            
                                                        <a href="e-challan.html" class="explore_link">Read More</a>
                                                    </div>
                                                </div>

                                                <div class="col-md-5 col-md-pull-7 mar_t70">
                                                    <div class="row">
                                                        <img src="images/e-challan-main.png" alt="">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </main>


            <footer class="cd_footer no-margin-top"> 
                <div class="container">
                    <div class="footer_inner">
                        <div class="row">                	
                            <div class="col-md-12">
                                <div class="cs_footerlinkscont">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="cd_footerlinks">
                                                <h3>Industry & Expertise</h3>
                                                <ul>
                                                    <li><a href="enterprise-solution.html">Enterprise Solution</a></li>
                                                    <li><a href="payments-and-loyalty.html">Payments & Loyalty</a></li>
                                                </ul>
                                            </div><!--cd_footerlinks-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="cd_footerlinks">
                                                <h3>Products</h3>
                                                <ul class="second_list">
                                                    <li><a href="prepaid.html">Prepaid – Card Issuance and Management System</a></li>
                                                    <li><a href="wallet-aggregator.html">Wallet Aggregator</a></li>
                                                    <li><a href="loyalty-reward-management-system.html">Loyalty and Campaign Management System</a></li>
                                                    <li><a href="offer-and-coupon-management.html">Offer & Coupon Management System</a></li>
                                                    <li><a href="field-force-automation.html">MobileForce – Field force Management</a></li>
                                                    <li><a href="payment-aggregator.html">Seller Payment Automation Product</a></li>
                                                    <li><a href="supply-chain-management.html">Material Management, Supply and Distribution Management Solution</a></li>
                                                    <li><a href="e-challan.html">EChallan- Law enforcement Solution</a></li>
                                                </ul>
                                            </div><!--cd_footerlinks-->
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="cd_footerlinks">
                                                <h3>Services</h3>
                                                <ul>
                                                    <li><a href="products-engineering.html">Product Engineering</a></li>
                                                    <li><a href="application-development-maintenance.html">Application Development & Maintenance</a></li>
                                                    <li><a href="offshore-development.html">Offshore Development</a></li>
                                                    <li><a href="technology.html">Technology</a></li>
                                                </ul>
                                            </div><!--cd_footerlinks-->
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="cd_footerlinks">
                                                <h3>Company</h3>
                                                <ul>

                                                    <li><a href="company.html#overview">Overview</a></li>
                                                    <li><a href="company.html#leadership">Leadership Team</a></li>
                                                    <li><a href="company.html#alliances">Alliances</a></li>
                                                    <li><a href="company.html#company_culture">Company Culture & Values</a></li>
                                                    <li><a href="careers.html">Careers</a></li>
                                                    <li><a href="contact.html">Contact Us</a></li>
                                                </ul>
                                            </div><!--cd_footerlinks-->
                                        </div>

                                    </div>
                                </div><!--cs_footerlinkscont-->
                            </div>
                        </div>
                        <div class="row cd_copypowered">
                            <div class="col-sm-6">
                                <div class="cd_copyright">
                                    <p>© Commdel 2016, All rights reserved</p>
                                </div><!--cd_copyright-->
                            </div>

                            <div class="col-sm-6">
                                <div class="cd_sociallinks align-right">
                                    <ul class="list-inline">
                                        <li><a href="https://www.linkedin.com/company/commdel-consulting-services-private-limited-?trk=company_logo" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://www.facebook.com/Commdel-173958382678124/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div><!--Socials-->
                            </div>
                        </div>
                    </div><!--footer_inner-->
                </div>
            </footer>

        </div>
        <!--main_wrapper--> 

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
        <script src="js/jquery.min.js"></script> 


        <script src="js/imagesloaded.js"></script>
        <script src="js/skrollr.js"></script>
        <script src="js/_main.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed --> 
        <script src="js/bootstrap.min.js"></script> 
        <script src="js/easyResponsiveTabs.js"></script> 
        <script src="js/owl.carousel.js"></script>
        <script src="js/custom.js"></script>
        <a id="toTop" href="#" rel="nofollow" style="display: block;"><i class="fa fa-angle-double-up"></i></a>

        <script type="text/javascript" src="js/sticky/jPinning.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $('.header').jPinning();
            });
        </script>

    </body>
</html>