<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title><%= title %></title>
        <!-- Bootstrap -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600' rel='stylesheet' type='text/css'>
        <!-- Owl Carousel Assets -->
        <link href="css/owl.carousel.css" rel="stylesheet">
        <link href="css/owl.theme.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="js/sticky/jPinning.min.css">

        <link rel="stylesheet" href="css/main2.css">

        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>
    <body class="loading">
        <div class="main_wrapper">
            <header class="header cd_header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="cd_logo"><a href="/"><img src="images/logo.png" alt="Commdel "></a> <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button></div>
                        </div>
                        <div class="col-sm-9">
                            <nav class="cd_navbar navbar-collapse">            
                                <ul>
                                    <li class="active"><a href="/industry">Industry &amp; Expertise</a></li>
                                    <li><a href="/products">Products</a></li>
                                    <li><a href="/services">Services</a></li>
                                    <li><a href="/company">Company</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                            <!--cd_navbar--> 
                        </div>
                    </div>
                </div>
            </header>

            <div class="banner_box">
                <figure><img src="images/about-banner.jpg" alt="About"></figure>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="breadcrumb_box">
                            <ol class="breadcrumb_list">
                                <li><a href="index.html">Home</a></li>
                                <li>Company</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>  
            <!--banner and breadcrumb-->	

            <section class="cd_maincontainer">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="welcome_txt" id="overview">
                            <div class="container">
                                <h1>Welcome to Commdel</h1>
                                <p>Commdel is a global professional services company providing enhanced value to its clients using latest technology. We have an integrated approach to IT where in we combine Business, Process, Technology, Development, and Implementation & Support. We help our clients achieve their business objectives and enhance their competitive advantage over their competitors. We deliver the full range of services from Ideation, Product Roadmap, Product development and Systems Integration & Program Management Services. We have built in & customizable solutions frameworks that can help produce superior quality products in time with higher savings in the field of Payments, Mobility & Enterprise.</p>
                            </div>
                        </div>

                        <main>

                            <section id="slide-11" class="homeSlide">
                                <div class="bcg">
                                    <div class="hsContainer">
                                        <div class="">
                                            <div class="product_section ">
                                                <div class="product_bg_green product_box_define txt_white">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="col-md-7">
                                                                    <div class="row">                        	
                                                                        <h3>Our success with our clients is based on the following guidelines:</h3>                               
                                                                        <ul>
                                                                            <li><i class="fa fa-check-square-o"></i> Commdel does not compete with you. Commdel act as an extension of your team.</li>
                                                                            <li><i class="fa fa-check-square-o"></i> Commdel has built in product development platform which help reduce the Version 1.0 of any software product.</li>
                                                                            <li><i class="fa fa-check-square-o"></i> Commdel&rsquo;s team is trained and possesses expertise in software product engineering and domain of its operations.</li>
                                                                            <li><i class="fa fa-check-square-o"></i> Commdel&rsquo;s team aligns itself with the Customer&rsquo;s goal and objectives and act as the partner to the organization.</li>
                                                                            <li><i class="fa fa-check-square-o"></i> Commdel has build-in solution frameworks which could be re-used and customized to deliver the solution faster &amp; with high quality.</li>
                                                                            <li><i class="fa fa-check-square-o"></i> Commdel has a value system which encourage teams to align itself with Customer, produce better quality products with superior technology.</li>
                                                                        </ul>
                                                                        <!--<a href="prepaid.html" class="read_more">Read More <i class="fa fa-angle-double-right"></i></a>-->
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-5 mar_t70 text-right ipad_left">
                                                                    <div class="row">
                                                                        <img src="images/clients_based.png" alt="">
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section id="slide-12" class="homeSlide">
                                <div class="bcg">
                                    <div class="hsContainer">
                                        <div class="product_section ">
                                            <div class="product_bg_red product_box_define txt_white">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="col-md-7 col-md-push-5">
                                                                <div class="row">
                                                                    <h3>Key Differentiators</h3>

                                                                    <ul>
                                                                        <li><i class="fa fa-check-square-o"></i> Focus on Software Product Engineering</li>
                                                                        <li><i class="fa fa-check-square-o"></i> Expertise in the domains of Payment, Mobility and Enterprise.</li>
                                                                        <li><i class="fa fa-check-square-o"></i> Integrated Approach where-in we combine Business, Process, IT, Development, Implementation and Support</li>
                                                                        <li><i class="fa fa-check-square-o"></i> Expertise in building highly scalable, performing systems catering to large consumer base</li>
                                                                        <li><i class="fa fa-check-square-o"></i> Continuous technological and process Innovation</li>
                                                                        <li><i class="fa fa-check-square-o"></i> Flexible business models</li>
                                                                        <li><i class="fa fa-check-square-o"></i> Focus on Quality</li>
                                                                        <li><i class="fa fa-check-square-o"></i> Value for money</li>
                                                                    </ul>
                                                                    <!--<a href="wallet-aggregator.html" class="read_more">Read More <i class="fa fa-angle-double-right"></i></a>-->
                                                                </div>
                                                            </div>

                                                            <div class="col-md-5 col-md-pull-7 mar_t70">
                                                                <div class="row">
                                                                    <img src="images/key-differentiators.png" alt="">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </main>

                        <div class="cd_team mar_t55" id="leadership">
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="row">
                                        <h1>Leadership</h1>
                                        <div class="col-lg-3 col-sm-3">

                                            <div class="card hovercard">
                                                <div class="avatar">
                                                    <img src="images/nitin.jpg" alt="Nitin Kumar Gupta">
                                                    <div class="social-buttons">                            
                                                        <a class="btn btn-primary btn-sm" rel="publisher" href="https://www.linkedin.com/profile/view?id=ADEAAAAtZioBgLqG4MSuhrPM2cOemfUwjRf5-3g&authType=OUT_OF_NETWORK&authToken=Brpb&locale=en_US&srchid=409480241451974443693&srchindex=2&srchtotal=3&trk=vsrp_people_res_photo&trkInfo=VSRPsearchId%3A409480241451974443693%2CVSRPtargetId%3A2975274%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3AOUT_OF_NETWORK" target="_blank">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                                <div class="info">
                                                    <div class="title">Nitin Kumar Gupta</div>
                                                    <div class="desc">Managing Partner</div>

                                                    <div class="desc">
                                                        <p>Nitin is an Entrepreneur and Co-founder of Commdel, having deep   expertise in Payments and Mobility domain...</p>
                                                        <a href="javascript:void(0)" class="know_more">Know More</a>
                                                        <div class="profile_content" style="display:none;">
                                                            <div class="profile_content_inner">
                                                                <div class="profile_content_over">
                                                                    <div class="heading_box">
                                                                        <div class="title">Nitin Kumar Gupta</div>
                                                                        <a href="javascript:void(0)" class="close"><i class="fa fa-close"></i></a>
                                                                    </div>
                                                                    <p>Nitin is an Entrepreneur and Co-founder of Commdel, having deep   expertise in Payments and Mobility domain products. He has over 13 years   of experience in servicing large enterprises for their ERP, CRM and   transaction processing needs. Nitin currently focuses on program   management for select partners/products, strategy and overall operations   of the company.</p>
                                                                    <p>Prior to founding Commdel, Nitin has co-founded Mobileforce, an   Engineering Services Company. Prior to Commdel, he was the Head of India   Operations for QuanComm, Inc., a Columbus, Ohio based payment processor   company where he managed, and guided, the development team. Earlier, he   served in various development &amp; engineering roles in multinational   software consulting companies. Nitin graduated from Indian Institute of   Technology, Delhi in 2000.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                    
                                            </div>

                                        </div>

                                        <div class="col-lg-3 col-sm-3">

                                            <div class="card hovercard">
                                                <div class="avatar">
                                                    <img src="images/amit.jpg" alt="Amit Verma">
                                                    <div class="social-buttons">                            
                                                        <a class="btn btn-primary btn-sm" rel="publisher" href="https://www.linkedin.com/profile/view?id=ADEAAAFmZvIBnc1zR9Mckse2nCtspHSHjDAtP5k&authType=OPENLINK&authToken=eL7s&locale=en_US&srchid=409480241451974487102&srchindex=2&srchtotal=8&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A409480241451974487102%2CVSRPtargetId%3A23488242%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3AOPENLINK" target="_blank">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                                <div class="info">
                                                    <div class="title">Amit Verma</div>
                                                    <div class="desc">Managing Partner</div>
                                                    <div class="desc">
                                                        <p>Amit is an Entrepreneur and a Co-founder member of Commdel. An   Honors in Bachelor of Technology followed by...</p>
                                                        <a href="javascript:void(0)" class="know_more">Know More</a>
                                                        <div class="profile_content" style="display:none;">
                                                            <div class="profile_content_inner">
                                                                <div class="profile_content_over">
                                                                    <div class="heading_box">
                                                                        <div class="title">Amit Verma</div>
                                                                        <a href="javascript:void(0)" class="close"><i class="fa fa-close"></i></a>
                                                                    </div>
                                                                    <p>Amit is an Entrepreneur and a Co-founder member of Commdel. An   Honors in Bachelor of Technology followed by a Masters in Business   Administration, Amit has had successful stints in organizations in India   and overseas, spanning over ten years. His functional expertise lies in   Technology &amp; business management, both in the products and services   in Payments and Enterprise domain. His achievements include bringing   inter-operable and open channels for transaction acquisitions in the   Payments , Transactions, Prepaid &amp; Loyalty business, thus enabling   the industry to use technological and innovative solutions.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                    
                                            </div>

                                        </div>

                                        <div class="col-lg-3 col-sm-3">

                                            <div class="card hovercard">
                                                <div class="avatar">
                                                    <img src="images/shirish.jpg" alt="Shirish Khandelwal">
                                                    <div class="social-buttons">                            
                                                        <a class="btn btn-primary btn-sm" rel="publisher" href="#" target="_blank">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                                <div class="info">
                                                    <div class="title">Shirish Khandelwal</div>
                                                    <div class="desc">VP - Engineering</div>
                                                    <div class="desc">
                                                        <p>Dynamic and Multi-stone driven Project Manager who leads complex, multi-functional teams in the development and...</p>
                                                        <a href="javascript:void(0)" class="know_more">Know More</a>
                                                        <div class="profile_content" style="display:none;">
                                                            <div class="profile_content_inner">
                                                                <div class="profile_content_over">
                                                                    <div class="heading_box">
                                                                        <div class="title">Shirish Khandelwal</div>
                                                                        <a href="javascript:void(0)" class="close"><i class="fa fa-close"></i></a>
                                                                    </div>
                                                                    <p>Dynamic and Multi-stone driven Project Manager who leads complex, multi-functional teams in the development and implementation of strategic solutions that increases efficiency, reduce costs, and enhance bottom line. </p>

                                                                    <p>Analytic leader who rapidly determines business needs and presents clear, actionable technical solutions. Expert consensus builder who rapidly communicate project values to senior management, technical teams and the non technical stakeholders. Offers a proven record of making outcome-based decisions that drive business process improvements and system-wide standardization.</p>

                                                                    <p>Builds teams that take pride in developing high-quality, dependable systems & services. Love dealing with complex database concepts, object-oriented methodologies, and client/server and web system architectures. Natural talent for translating a love of learning into a love of teaching, and helping others to learn.</p>

                                                                    <p>Domain Expertise - Enterprise Solutions, Petroleum, Prepaid, Loyalty</p>

                                                                    <p>Currently managing India's largest fleet card solutions - XTRAPOWER for IndianOil and DriveTrack Plus for HPCL handling more than 130 Crore rupees/ $20 million transaction volume everyday!!</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                    
                                            </div>

                                        </div>

                                        <div class="col-lg-3 col-sm-3">

                                            <div class="card hovercard">
                                                <div class="avatar">
                                                    <img src="images/satya.jpg" alt="Satyadev Singh">
                                                    <div class="social-buttons">                            
                                                        <a class="btn btn-primary btn-sm" rel="publisher" href="https://www.linkedin.com/profile/view?id=AAkAAACa6zsBszUIv77Vc7elHj1y1SvkrBM4-68&authType=NAME_SEARCH&authToken=PfBQ&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CentityType%3AentityHistoryName%2CclickedEntityId%3Amynetwork_10152763%2Cidx%3A2" target="_blank">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                                <div class="info">
                                                    <div class="title">Satyadev Singh</div>
                                                    <div class="desc">Head - Technology, R&amp;D</div>
                                                    <div class="desc"></div>
                                                    <div class="desc">
                                                        <p>Over ~18 years of Industry experience in various capacities in the field of Information Technology. Extensive exposure in establishing...</p> 
                                                        <a href="javascript:void(0)" class="know_more">Know More</a>
                                                        <div class="profile_content" style="display:none;">
                                                            <div class="profile_content_inner">
                                                                <div class="profile_content_over">
                                                                    <div class="heading_box">
                                                                        <div class="title">Satyadev Singh</div>
                                                                        <a href="javascript:void(0)" class="close"><i class="fa fa-close"></i></a>
                                                                    </div>
                                                                    <p>Over ~18 years of Industry experience in various capacities in the field of Information Technology. Extensive exposure in establishing companies, as well as managing large technical teams. </p>

                                                                    <p>Successfully managed and mentored large teams (over 50 members Delivery Unit) engaged in multiple projects. Also headed the technology & research for various implementations across domains.</p>

                                                                    <p>Good knowledge in Software Project Management and software quality processes and methodologies, specifically for offshore development.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                    
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="alliance_box mar_t15" id="alliances">
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="row">
                                        <h1>Alliances</h1>
                                        <p>Our services and business solutions are strengthened by alliances with leading technology partners. Our network of alliance and teaming relationships creates business value, reduces implementation risk and accelerates go-to-market.</p>
                                        <p>We work with our partners to boost their revenue growth, expand markets and geographic reach, facilitate sales process, and enhance product and service offerings.</p>
                                        <p>Commdel and alliance partners jointly deliver business solutions that address our clients' business and technology problems. We address specific client needs as well as develop tools and methods to accelerate the successful deployment of solutions while reducing risk.</p>

                                        <div class="cd_expertise">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-xs-12">
                                                    <div class="col-sm-6">
                                                        <div class="cd_expertise_in alnc_box_in">

                                                            <span class="cd_exp_icon"><i class="fa fa-flag"></i></span>

                                                            <!--<h1>Verifone</h1>-->
                                                            <ul class="alliancesLogo">
                                                                <li> <a href="javascript:void(0)"><img src="images/verifone_logo.png" alt="Verifone" class="img-responsive"></a> </li>
                                                            </ul>
                                                            <p>Verifone is the leader in providing trusted, secure and innovative payment terminals, global payment as a service, and commerce enablement solutions that create more valuable experiences and rich interactions between consumers and merchants. Our products and services include mobile, countertop and self-service payment devices, software, and web-based gateways.</p>
                                                            <!-- <a href="#" class="btn btn-primary btn-sm">Read More <i class="fa fa-long-arrow-right"></i></a>-->
                                                        </div><!--cd_expertise_in-->
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="cd_expertise_in alnc_box_in">

                                                            <span class="cd_exp_icon"><i class="fa fa-flag"></i></span>
                                                            <ul class="alliancesLogo">
                                                                <li> <a href="javascript:void(0)"><img src="images/doc2info.png" alt="Core Doc2info" class="img-responsive"></a> </li>
                                                            </ul>
                                                            <!--<h1>JAVA</h1>-->
                                                            <p>Core Doc2info Services Pvt. Ltd. is a company started by a group of professionals from Telecome and Software background, to provide document management and IT related support to Organization. We have our in house software team, which would be able to add more value and work hand in hand with the client to meet their requirement. We specialise in AV/AC and document management services for, both, telecome and finincial sectors.</p>
                                                            <!-- <a href="java.html" class="btn btn-primary btn-sm">Read More <i class="fa fa-long-arrow-right"></i></a>-->
                                                        </div><!--cd_expertise_in-->
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="cd_expertise_in alnc_box_in">

                                                            <span class="cd_exp_icon"><i class="fa fa-flag"></i></span>
                                                            <ul class="alliancesLogo">
                                                                <li> <a href="javascript:void(0)"><img src="images/microsoftpartner.png" alt="Microsoft" class="img-responsive"></a> </li>
                                                            </ul>
                                                            <!--<h1>Mobile App Development</h1>-->
                                                            <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>-->
                                                            <!--<a href="mobile-app-development.html" class="btn btn-primary btn-sm">Read More <i class="fa fa-long-arrow-right"></i></a>-->
                                                        </div><!--cd_expertise_in-->
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="cd_expertise_in alnc_box_in">

                                                            <span class="cd_exp_icon"><i class="fa fa-flag"></i></span>
                                                            <ul class="alliancesLogo">
                                                                <li> <a href="javascript:void(0)"><img src="images/mobile-force.png" alt="Mobileforce" class="img-responsive"></a> </li>
                                                            </ul>
                                                            <!--<h1>Mobile App Development</h1>-->
                                                            <p>Agility Mobileforce Solutions is a cloud based enterprise mobility platform and solutions Provider<br>
                                                                At the core we are a ‘customer centric services organization’ that is passionate about innovating, developing and putting to use productivity enhancing mobile solutions for our clients from chosen industry verticals. Our stated mission is to partner our customers in their journey of business transformationand evolution,leveraging state of the art mobile technology that significantly enhances productivity of their mobile workforce.</p>
                                                            <!--<a href="mobile-app-development.html" class="btn btn-primary btn-sm">Read More <i class="fa fa-long-arrow-right"></i></a>-->
                                                        </div><!--cd_expertise_in-->
                                                    </div>

                                                </div>


                                            </div> 
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="company_culture" id="company_culture">
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="row">
                                        <h1>Company culture & Values</h1>
                                        <p>At COMMDEL, we understand that our talented professionals are responsible for our company’s success. We pride ourselves on fostering a creative work environment that meets the needs of our employees. We give our employees a solid foundation for future success by providing unlimited opportunities for continuous learning and ongoing professional development and personal growth. Each employee is a valued member of the COMMDEL family. Experience has taught us that when we demonstrate a full commitment to our employees’ satisfaction and wellbeing, they reciprocate with unparalleled dedication to our team and our clients. We have developed a unique, rewarding corporate culture based on nine key principles.</p>

                                        <div class="company_banner">
                                            <div class="cd_tech_cliet_rec_tcr cd_tech_cliet_rec" style="background:#ffffff;">

                                                <div class="cd_innertabcont">
                                                    <div id="parentHorizontalTab1">
                                                        <div id="tcr_carousal" class="owl-carousel owl-theme" >
                                                            <div class="item" >
                                                                <div class="inner_content">
                                                                    <img src="images/company-banner01.jpg" class="img-responsive" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="item" >
                                                                <div class="inner_content">
                                                                    <img src="images/company-banner02.jpg" class="img-responsive" alt=""> 
                                                                </div>
                                                            </div>
                                                            <div class="item" >
                                                                <div class="inner_content">
                                                                    <img src="images/company-banner03.jpg" class="img-responsive" alt=""> 
                                                                </div>
                                                            </div>
                                                            <div class="item" >
                                                                <div class="inner_content">
                                                                    <img src="images/company-banner04.jpg" class="img-responsive" alt=""> 
                                                                </div>
                                                            </div>
                                                            <div class="item" >
                                                                <div class="inner_content">
                                                                    <img src="images/company-banner05.jpg" class="img-responsive" alt="">
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="num"></div>

                                                    </div>
                                                </div>
                                                <!--cd_innertabcont--> 

                                            </div>
                                        </div>

                                        <!--<div class="col-md-4">
                                            <div class="service_segment_box company_culture1" id="box1">
                                                <a href="javascript:void(0)" class="segment_link">
                                                    <div class="application_over">
                                                        <h3>Company culture & Values</h3>
                                                        <ul class="segment_list">
                                                                <li>Open Doors</li>
                                                            <li>Performance Evaluation</li>
                                                            <li>Flexibility</li>
                                                            <li>Cultural Awareness</li>
                                                            <li>Professional Development</li>
                                                            <li>Honesty & Integrity</li>
                                                            <li>Teamwork</li>
                                                            <li>Availability</li>
                                                            <li>Client Satisfaction</li>
                                                        </ul>
                                                    </div>
                                                    <span class="explore">Explore</span>
                                                </a>
                                            </div>
                                        </div>-->   

                                        <p>&nbsp;</p>

                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="service_segment company_segment">
                                                        <img src="images/open-doors-icon.png" alt="Open Doors">
                                                        <h4>Open Doors</h4>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="service_segment">
                                                        <img src="images/performance-evaluation-icon.png" alt="Performance Evaluation">
                                                        <h4>Performance Evaluation</h4>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="service_segment">
                                                        <img src="images/flexibility-icon.png" alt="Flexibility">
                                                        <h4>Flexibility</h4>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="service_segment">
                                                        <img src="images/cultural-awareness-icon.png" alt="Cultural Awareness">
                                                        <h4>Cultural Awareness</h4>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="service_segment">
                                                        <img src="images/professional-development-icon.png" alt="Professional Development">
                                                        <h4>Professional Development</h4>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="service_segment">
                                                        <img src="images/honesty-and-integrity-icon.png" alt="Honesty & Integrity">
                                                        <h4>Honesty & Integrity</h4>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="service_segment">
                                                        <img src="images/teamwork-icon.png" alt="Teamwork">
                                                        <h4>Teamwork</h4>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="service_segment">
                                                        <img src="images/client-satisfaction-icon.png" alt="Client Satisfaction">
                                                        <h4>Client Satisfaction</h4>
                                                    </div>
                                                </div>
                                                <!--<div class="col-sm-4">
                                                    <div class="service_segment">
                                                        <a href="technology.html">
                                                            <img src="images/technology-icon.png" alt="TECHNOLOGY">
                                                            <h4>TECHNOLOGY</h4>
                                                        </a>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </div>            

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--cd_maincontainer-->
            <div class="clearfix"></div>


            <footer class="cd_footer"> 
                <div class="container">
                    <div class="footer_inner">
                        <div class="row">                	
                            <div class="col-md-12">
                                <div class="cs_footerlinkscont">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="cd_footerlinks">
                                                <h3>Industry & Expertise</h3>
                                                <ul>
                                                    <li><a href="enterprise-solution.html">Enterprise Solution</a></li>
                                                    <li><a href="payments-and-loyalty.html">Payments & Loyalty</a></li>
                                                </ul>
                                            </div><!--cd_footerlinks-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="cd_footerlinks">
                                                <h3>Products</h3>
                                                <ul class="second_list">
                                                    <li><a href="prepaid.html">Prepaid – Card Issuance and Management System</a></li>
                                                    <li><a href="wallet-aggregator.html">Wallet Aggregator</a></li>
                                                    <li><a href="loyalty-reward-management-system.html">Loyalty and Campaign Management System</a></li>
                                                    <li><a href="offer-and-coupon-management.html">Offer & Coupon Management System</a></li>
                                                    <li><a href="field-force-automation.html">MobileForce – Field force Management</a></li>
                                                    <li><a href="payment-aggregator.html">Seller Payment Automation Product</a></li>
                                                    <li><a href="supply-chain-management.html">Material Management, Supply and Distribution Management Solution</a></li>
                                                    <li><a href="e-challan.html">EChallan- Law enforcement Solution</a></li>
                                                </ul>
                                            </div><!--cd_footerlinks-->
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="cd_footerlinks">
                                                <h3>Services</h3>
                                                <ul>
                                                    <li><a href="products-engineering.html">Product Engineering</a></li>
                                                    <li><a href="application-development-maintenance.html">Application Development & Maintenance</a></li>
                                                    <li><a href="offshore-development.html">Offshore Development</a></li>
                                                    <li><a href="technology.html">Technology</a></li>
                                                </ul>
                                            </div><!--cd_footerlinks-->
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="cd_footerlinks">
                                                <h3>Company</h3>
                                                <ul>

                                                    <li><a href="company.html#overview">Overview</a></li>
                                                    <li><a href="company.html#leadership">Leadership Team</a></li>
                                                    <li><a href="company.html#alliances">Alliances</a></li>
                                                    <li><a href="company.html#company_culture">Company Culture & Values</a></li>
                                                    <li><a href="careers.html">Careers</a></li>
                                                    <li><a href="contact.html">Contact Us</a></li>
                                                </ul>
                                            </div><!--cd_footerlinks-->
                                        </div>

                                    </div>
                                </div><!--cs_footerlinkscont-->
                            </div>
                        </div>
                        <div class="row cd_copypowered">
                            <div class="col-sm-6">
                                <div class="cd_copyright">
                                    <p>© Commdel 2016, All rights reserved</p>
                                </div><!--cd_copyright-->
                            </div>

                            <div class="col-sm-6">
                                <div class="cd_sociallinks align-right">
                                    <ul class="list-inline">
                                        <li><a href="https://www.linkedin.com/company/commdel-consulting-services-private-limited-?trk=company_logo" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://www.facebook.com/Commdel-173958382678124/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div><!--Socials-->
                            </div>
                        </div>
                    </div><!--footer_inner-->
                </div>
            </footer>


        </div>
        <!--main_wrapper--> 

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
        <script src="js/jquery.min.js"></script> 

        <script src="js/imagesloaded.js"></script>
        <script src="js/skrollr.js"></script>
        <script src="js/_main.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed --> 
        <script src="js/bootstrap.min.js"></script> 
        <script src="js/easyResponsiveTabs.js"></script> 
        <script src="js/owl.carousel.js"></script>
        <script src="js/custom.js"></script>
        <a id="toTop" href="#" rel="nofollow" style="display: block;"><i class="fa fa-angle-double-up"></i></a>

        <script>
            $(document).ready(function () {
                $(".know_more").click(function () {
                    $(this).next(".profile_content").fadeIn();
                });
                $(".close").click(function () {
                    $(".profile_content").fadeOut();
                });
                $(".know_more").click(function () {
                    $("body").addClass("body_fixed");
                });
                $(".close").click(function () {
                    $("body").removeClass("body_fixed");
                });
            });
        </script>

        <script type="text/javascript" src="js/sticky/jPinning.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $('.header').jPinning();
            });
        </script>

    </body>
</html>