<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title><%= title %></title>
<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600' rel='stylesheet' type='text/css'>
<!-- Owl Carousel Assets -->
<link href="css/owl.carousel.css" rel="stylesheet">
<link href="css/owl.theme.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="js/sticky/jPinning.min.css">

<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="main_wrapper">
  <header class="header cd_header">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="cd_logo"><a href="/"><img src="images/logo.png" alt="Commdel "></a> <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button></div>
        </div>
        <div class="col-sm-9">
          <nav class="cd_navbar navbar-collapse">            
            <ul>
              <li class="active"><a href="/industry">Industry &amp; Expertise</a></li>
              <li><a href="/products">Products</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/company">Company</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
          <!--cd_navbar--> 
        </div>
      </div>
    </div>
  </header>
  
  <div class="banner_box">
       <figure><img src="images/products-banner.jpg" alt="Products"></figure>
  </div>

  <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="breadcrumb_box">
                    <ol class="breadcrumb_list">
                      <li><a href="index.html">Home</a></li>
                      <li>Industry &amp; Expertise</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>  
  <!--banner and breadcrumb-->	
    
  <div class="cd_maincontainer">
    <div class="container">
     	<div class="row">
        	<div class="col-sm-12">
            	
      			<p>Commdel is a global professional services company providing the full range of Product Engineering Services from Ideation, Product Roadmap, R&D, Product development and Maintenance, Systems Integration & Program Management Services. </p>
<p>Commdel works with ISV (both, startups as well as large product companies) for specific Product Development and R&D needs to achieve their business objectives and enhance their competitive advantage over their competitors.</p>
<p>We have deep expertise in the Payment Solutions and Enterprise Solutions catering to the specific need of the particular Industry. </p>
      
            </div>
        </div> 
     </div>
  </div>
  <!--cd_maincontainer-->
  
  <div class="full_width_video">  
  	<!--<video autoplay loop muted class="full_video">
    	<source src="http://inserthtml.com/demos/javascript/background-videos/flowers.mp4" type="video/mp4">
		<source src="http://inserthtml.com/demos/javascript/background-videos/flowers.mp4" type="video/webm">
	</video>-->
    
    <div class="video_content video_bg_orange txt_black">
    	<div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-7">                      	
                        <h3>Enterprise Solution</h3>
                        <p>Our technology integrates the complex, heterogeneous enterprise processes and delivers a uniform, seamlessly integrated business solution for all using social, mobile, cloud technologies. </p>
                        <ul>
                            <li><i class="fa fa-check-square-o"></i> Supply and Distribution Management</li>
                            <li><i class="fa fa-check-square-o"></i> Field Force Management</li>
                            <li><i class="fa fa-check-square-o"></i> Enterprise Mobility</li>
                            <li><i class="fa fa-check-square-o"></i> Finance and Accounting Solutions</li>
                            <li><i class="fa fa-check-square-o"></i> Subsidy Management Solution</li>
                            <li><i class="fa fa-check-square-o"></i> Video and Imaging Solutions</li>
                            <li><i class="fa fa-check-square-o"></i> Customer Relationship Management</li>
                            <li><i class="fa fa-check-square-o"></i> Enterprise Resource Planning</li>
                        </ul>
                        <a href="enterprise-solution.html" class="explore_link">Read More</a>
                    </div>
                    
                    <div class="col-md-5 mar_t70 text-right ipad_left">
                        <div class="industry_boxes">                            	
                            <div class="col-md-4 col-sm-4">
                              <div class="ins_box1"><img src="images/e-commerce.png" alt=""><span>E-commerce & Internet</span></div></div>
                            <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/manufacturing.png" alt=""><span>Manufacturing</span></div></div>
                            <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/government.png" alt=""><span>Government</span></div></div>
                            <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/fertilizer.png" alt=""><span>Fertilizer</span></div></div>
                            <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/telecom.png" alt=""><span>Telecom</span></div></div>
                            <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/banking.png" alt=""><span>Banking</span></div></div>
                            <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/photography.png" alt=""><span>Professional Photography</span></div></div>
                            <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/rehab-agencies.png" alt=""><span>Rehab Agencies</span></div></div>
                            <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/health.png" alt=""><span>Health &amp; Fitness Clubs</span></div></div>
                        </div>
                    </div>
                    
            	</div>
            </div>
         </div>
    </div>
      	  
  </div>
  
  <div class="full_width_video">  
  	<!--<video autoplay loop muted class="full_video">		
		<source src="http://dev2.slicejack.com/fullscreen-video-demo/video/big_buck_bunny.mp4" type="video/mp4">
		<source src="http://dev2.slicejack.com/fullscreen-video-demo/video/big_buck_bunny.mp4" type="video/webm">
	</video>-->
    
    <div class="video_content video_bg_blue txt_white">
    	<div class="container">
            <div class="row">
                <div class="col-sm-12">
                	<div class="col-md-7 col-md-push-5">                    	
            				<h3>Payments &amp; Loyalty</h3>
                        	<p>PayNorm is a robust, secure and flexible solution framework satisfying the retailer’s payments and transactions needs. The framework covers the entire lifecycle management of card management system, integrated the payments and transactions engine to it and thus empowers retailers and customer for their transaction needs.</p>
                            <ul>
                            	<li><i class="fa fa-check-square-o"></i> Prepaid Solution</li>
                                <li><i class="fa fa-check-square-o"></i> Mobile Wallet Aggregator Solution</li>
                                <li><i class="fa fa-check-square-o"></i> Coupon and Offer Management Solution</li>
                                <li><i class="fa fa-check-square-o"></i> Loyalty and Campaign Management Solution</li>
                                <li><i class="fa fa-check-square-o"></i> Payment Gateway Solutions</li>
                            </ul>
                            <a href="payments-and-loyalty.html" class="explore_link">Read More</a>                        
                    </div>
                    
                    <div class="col-md-5 col-md-pull-7 mar_t70">
                        <div class="industry_boxes">
                          <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/banking.png" alt=""><span>Banking</span></div></div>
                          <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/e-commerce.png" alt=""><span>E-commerce & Internet</span></div></div>
                        <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/financial-institutions.png" alt=""><span>Financial Institutions</span></div></div>
                        <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/telecom.png" alt=""><span>Telecom</span></div></div>
                        <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/government.png" alt=""><span>Government</span></div></div>
                        <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/retail.png" alt=""><span>Retail</span></div></div>
                        <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/omc.png" alt=""><span>Oil Marketing Companies</span></div></div>  
                        <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/corporate.png" alt=""><span>Corporate</span></div></div>  
                        <div class="col-md-4 col-sm-4"><div class="ins_box1"><img src="images/travel.png" alt=""><span>Travel</span></div></div>                                
                            </div>
                    </div>
                    
            	</div>
            </div>
         </div>
    </div>
      	  
  </div>  

  <footer class="cd_footer no-margin-top"> 
  		<div class="container">
        	<div class="footer_inner">
            	<div class="row">                	
                    <div class="col-md-12">
                    	<div class="cs_footerlinkscont">
                        	<div class="row">
                            	<div class="col-sm-3">
                                	<div class="cd_footerlinks">
                                        <h3>Industry & Expertise</h3>
                                        <ul>
                                            <li><a href="enterprise-solution.html">Enterprise Solution</a></li>
                                            <li><a href="payments-and-loyalty.html">Payments & Loyalty</a></li>
                                        </ul>
                                    </div><!--cd_footerlinks-->
                                </div>
                                <div class="col-sm-4">
                                	<div class="cd_footerlinks">
                                        <h3>Products</h3>
                                        <ul class="second_list">
                                            <li><a href="prepaid.html">Prepaid – Card Issuance and Management System</a></li>
                                            <li><a href="wallet-aggregator.html">Wallet Aggregator</a></li>
                                            <li><a href="loyalty-reward-management-system.html">Loyalty and Campaign Management System</a></li>
                                            <li><a href="offer-and-coupon-management.html">Offer & Coupon Management System</a></li>
                                            <li><a href="field-force-automation.html">MobileForce – Field force Management</a></li>
                                            <li><a href="payment-aggregator.html">Seller Payment Automation Product</a></li>
                                            <li><a href="supply-chain-management.html">Material Management, Supply and Distribution Management Solution</a></li>
                                            <li><a href="e-challan.html">EChallan- Law enforcement Solution</a></li>
                                        </ul>
                                    </div><!--cd_footerlinks-->
                                </div>
                                <div class="col-sm-3">
                                	<div class="cd_footerlinks">
                                        <h3>Services</h3>
                                        <ul>
                                            <li><a href="products-engineering.html">Product Engineering</a></li>
                                            <li><a href="application-development-maintenance.html">Application Development & Maintenance</a></li>
                                            <li><a href="offshore-development.html">Offshore Development</a></li>
                                            <li><a href="technology.html">Technology</a></li>
                                        </ul>
                                    </div><!--cd_footerlinks-->
                                </div>
                            	<div class="col-sm-2">
                                	<div class="cd_footerlinks">
                                        <h3>Company</h3>
                                        <ul>

                                            <li><a href="company.html#overview">Overview</a></li>
                                            <li><a href="company.html#leadership">Leadership Team</a></li>
                                            <li><a href="company.html#alliances">Alliances</a></li>
                                            <li><a href="company.html#company_culture">Company Culture & Values</a></li>
                                            <li><a href="careers.html">Careers</a></li>
                                            <li><a href="contact.html">Contact Us</a></li>
                                        </ul>
                                    </div><!--cd_footerlinks-->
                                </div>
                                                              
                            </div>
                        </div><!--cs_footerlinkscont-->
                    </div>
                </div>
                <div class="row cd_copypowered">
                    <div class="col-sm-6">
                        <div class="cd_copyright">
                        	<p>© Commdel 2016, All rights reserved</p>
                        </div><!--cd_copyright-->
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="cd_sociallinks align-right">
                        	<ul class="list-inline">
                                <li><a href="https://www.linkedin.com/company/commdel-consulting-services-private-limited-?trk=company_logo" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.facebook.com/Commdel-173958382678124/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div><!--Socials-->
                    </div>
                </div>
            </div><!--footer_inner-->
        </div>
</footer>
  
</div>
<!--main_wrapper--> 

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/easyResponsiveTabs.js"></script> 
<script src="js/owl.carousel.js"></script>
<script src="js/custom.js"></script>
<a id="toTop" href="#" rel="nofollow" style="display: block;"><i class="fa fa-angle-double-up"></i></a>

<script type="text/javascript" src="js/sticky/jPinning.min.js"></script>
<script type="text/javascript">
  $(function(){
	$('.header').jPinning();
  });
</script>

</body>
</html>